<h1 mat-dialog-title>Add user!</h1>
<div mat-dialog-content class="add-user_input-wrapper">
    <!-- First and Last Name -->
    <div class="add-user_small-input">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>First name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.lastName" matInput>
        </mat-form-field>
    </div>
    <!-- Email -->
    <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.email" matInput>
        </mat-form-field>
    </div>
    <!-- Birthdate -->
    <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Birth date</mat-label>
            <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <!-- Address -->
    <div>
        <mat-form-field class="mr-16 full-width" appearance="outline">
            <mat-label>Street & House nr.</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.street" matInput>
            <!-- <mat-hint>Last name</mat-hint> -->
        </mat-form-field>
        <div class="add-user_small-input">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput>
            </mat-form-field>
        </div>
    </div>

</div>
<!-- Buttons -->
<div mat-dialog-actions>
    <button (click)="dialogRef.close()" [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="loading" (click)="saveUser()" mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
<!-- Loading Progress -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>