h1 {
    margin: 0px;
}

.add-user_input-wrapper {
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    input {
        &::placeholder {
            font-size: 0.8rem;
        }
    }
}

.add-user_small-input {
    display: flex;
    flex-grow: 1;
}