mat-card {
    padding: 10px 20px;
}

mat-card-subtitle {
    text-align: center;
    padding-top: 15px !important;
    font-size: 1.5rem;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-block: 30px;

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;

        &:first-child {
            background-color: rgb(209, 45, 45);
            color: white;
            text-shadow: 1px 1px 1px black;
            font-weight: 600;

            &:hover,
            &:focus {
                filter: brightness(1.2);
            }
        }

        &:last-child {
            background-color: rgb(47, 255, 54);
            text-shadow: 1px 1px 1px white;
            font-weight: 600;

            &:hover,
            &:focus {
                filter: brightness(0.9);
            }
        }
    }
}