<mat-card class="user_header">
    <button [matMenuTriggerFor]="userMenu" mat-icon-button class="user_more-icon">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
        <button (click)="editUserDetails()" mat-menu-item>Edit user</button>
        <button class="user_delete" mat-menu-item><span>Delete user</span></button>
    </mat-menu>
    <div>
        <h2> {{user.firstName}} {{user.lastName}}</h2>
        <h4> {{user.email}}</h4>

    </div>
    <img src="./assets/img/user.png">
</mat-card>
<mat-card class="mt-32 p-16 user_body">
    <mat-card-title>{{user.street}}</mat-card-title>
    <mat-card-content>
        <p>{{user.zipCode}} {{user.city}}</p>
    </mat-card-content>
</mat-card>