<mat-card class="user_header" style="background-image: url({{user.imgHeader}});background-repeat: no-repeat;
background-size: cover;">
    <button [matMenuTriggerFor]="userMenu" mat-icon-button class="user_more-icon">
        <mat-icon>edit</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
        <button (click)="editUserDetails()" mat-menu-item>Edit user</button>
        <button (click)="changeImgHeader()" mat-menu-item>Edit Wallpaper</button>
        <button (click)="openDeleteUserDialog()" class="user_delete" mat-menu-item><span>Delete user</span></button>
    </mat-menu>
    <div class="user_header_name">
        <h2> {{user.firstName}} {{user.lastName}}</h2>
        <h4> {{user.email}}</h4>
    </div>
    <img (click)="changeImgUser()" src="{{user.imgUser}}">
</mat-card>

<mat-card class="mt-32 p-16 user_body">
    <mat-card-title>{{user.street}}</mat-card-title>
    <mat-card-content>
        <p>{{user.zipCode}} {{user.city}}</p>
    </mat-card-content>
</mat-card>
<mat-card *ngFor="let product of user.products" class="mt-32 p-16 user_body">
    <!-- <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
    <mat-card-content>
        <p>Descrption: <br>{{product.description}}</p>
        <p>Amount: {{product.amount}}</p>
        <p>Date: {{product.availability}}</p> -->
    <!-- </mat-card-content> -->
</mat-card>
<mat-card class="mt-32 p-16 user_body">
    <button mat-button (click)="openAddProduct()">
        Add Product
        <mat-icon>add</mat-icon>
    </button>
</mat-card>

<mat-form-field class="mt-16">
    <span>Notes about {{user.firstName}} {{user.lastName}}</span>
    <textarea [(ngModel)]="user.notes" matInput placeholder="Ex. It makes me feel..."></textarea>
    <button (click)="saveNotes()" [disabled]="loading" mat-button>
        <mat-icon *ngIf="!loading">save_alt</mat-icon>
        <mat-icon *ngIf="loading">done</mat-icon>
        <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
    </button>
</mat-form-field>