<mat-card>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.userID]">
            <td>{{user.firstName + ' '}}{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-user_btn" mat-fab color="primary"
    aria-label="Example icon button with a delete icon" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>